/*----------------------------khung nền (background)---------------------------------*/

* {margin:0;padding:0} /*reset css*/

html{
	overflow: auto;
	overflow-x: hidden;
}

body{
	behavior: url(../js/pie/markup/PIE.htc); /*hổ trợ css3 cho trình duyệt IE (chưa hoàn thành)*/
}

ul{padding: 0;margin: 0;}
ul li{padding: 0;margin: 0;}
ul li img,

.Fhead{
	position: relative;
	height: remainder;/*cho phép giao diện cha giản nở dựa vào width hoặc height của giao diện con*/
	/*width: remainder;*/
	background-color: orange;
	transition: 0.5s;
	padding-bottom: 0.5%;
  /* add back section padding value */
}

.Fbottom{
	height: 100px;
	background-color: #1C1C1C;
	clear: both;
}

.total{
	margin: 0 auto;
	width: 85%;
	height: remainder;
}

.head{
	height: 260px;
	background-color: white;
	margin-bottom: 0.5%;
	position: relative;
}

.head:hover > .list-img{
	opacity: 0.7;
	visibility: visible;
	transition: 0.3s;
}

.slides{
	height: 260px;
	overflow: hidden;
	position: relative;
}

.slides img{
	width: 100%;
	height: 300px;
	position: absolute;
	z-index: 0;
}

.slides .stat-img-ds{
	opacity: 0;
	visibility: hidden;
	transition: 0.3s;
}

.slides .stat-img-ap{
	opacity: 1;
	visibility: visible;
	transition: 0.3s;
}

.view{
	background: black;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	opacity: 0.7;
	background-image: url(../image/view/view.png);
	background-position: center;
	background-size: 50px 50px;
	background-repeat: no-repeat;
	position: relative;
	z-index: 0;
	bottom: 261px;
	display: block;
	width: 0px;
	height: 50px;
	cursor: pointer;
	transition: 0.3s;
}

.head:hover .view{
	width: 100px;
	transition: 0.3s;
}

.head:hover .view:hover{
	opacity: 0.9;
}

.range{
	display: block;
	background: black;
	width: 150px;
	height: 35px;
	/*border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;*/
	opacity: 0.9;
	position: relative;
	z-index: 2;
	bottom: 260px;
	margin: 0 auto;
	text-align: center;
	font-size: 30px;
	line-height: 30px;
	color: white;
}

.more{ /*làm hình tam giác góc trên bên phải của banner*/
	display: block;
	/*background: black;
	opacity: 0.7;*/
	width: 0;
	height:0;
	position: absolute;
	opacity: 0.8;
	border-top: 0px solid black;
	border-left: 80px solid transparent;
	/*position: relative;*/
	z-index: 0;
	/*margin-left: 1065px;*/
	right: 0;
	margin-bottom: 135px;
	transition: 0.3s;
}

.head:hover .more{
	border-top: 80px solid black;
	transition: 0.3s;
}

/*.range:after{
	content: "";
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	line-height: 15px;
	display: block;
	width: 100%;
	height: 15px;
	background: black;
	border-top: 1px solid white;
	margin-top: 5px;
	border-bottom-left-radius: 100px;
	border-bottom-right-radius: 100px;
}

.range::before{
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-top: 10px solid white;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	position: absolute;
	margin-left: 70px;
	margin-top: 39px;
}*/

/*head:hover .range:hover:after{
	border-bottom: 1px solid black;
	cursor: pointer;
	color: black;
	background: white;
}*/

.list-img{
	height: 50px;
	background: black;
	text-align: center;
	position: relative;
	z-index: 1;
	bottom: 139px;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s;
}

.list-img ul{
	margin-top: 10px;
	list-style-type: none;
	display: inline-block;
	padding-bottom: 0px;
}

.list-img ul li{
	display: inline-block;
	margin-right: 10px;
}

.list-img ul li img:hover{
	/*border: 1px solid green;*/
	/*width: 60px;
	height: 41px;*/
	box-shadow: 1px 1px 5px white, 1px -1px 5px white,-1px 1px 5px white,-1px -1px 5px white;
	cursor: pointer;
	transition: 0.1s;
}

.list-img ul li img{
	width: 50px;
	height: 31px;
	display: block;
	transition: 0.1s;
	/*margin-right: auto;
	margin-left: auto;*/
}

.l-arrow{
	background: black;
	opacity: 0;
	visibility: hidden;
	background-image: url("../image/arrow/left-arrow.png");
	background-size: 70px 70px;
	background-repeat: no-repeat;
	background-position: center;
	line-height: 180px;
	padding-right: 70px;
	padding-top: 100px;
	padding-bottom: 100px;
	float: left;
	transition: 0.5s;
}

.r-arrow{
	background: black;
	opacity: 0;
	visibility: hidden;
	background-image: url("../image/arrow/right-arrow.png");
	background-size: 70px 70px;
	background-repeat: no-repeat;
	background-position: center;
	line-height: 180px;
	padding-right: 70px;
	padding-top: 100px;
	padding-bottom: 100px;
	float: right;
	transition: 0.5s;
}

.l-arrow:hover, .r-arrow:hover{
	cursor: pointer;
}

.head:hover .r-arrow:hover , .head:hover .l-arrow:hover{
	opacity: 0.8;
}

.head:hover .l-arrow, .head:hover .r-arrow{
	visibility: visible;
	opacity: 0.5;
}

.menu{
	height: 462px;
	width: 20%;
	background-color: white;
	float: left;
	transition: 0.5s;
}

.tt-menu{
	height: 50px;
	background: #663300;
	color: white;
	text-align: center;
	line-height: 50px;
	font-family: "generic family", cursive;
	font-weight: bold;
	font-size: 20px;
}

.box-meal{
	height: 300px;
}

.meal{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	border-radius: 3px;
	border: 1px solid grey;
	height: 150px;
	width: 150px;
	border-bottom: 1px solid grey;
	background-image: url(../image/support/meal.png);
	background-position: center;
	background-size: 140px 140px;
	background-repeat: no-repeat;
	/*line-height: 150px;
	font-size: 72px;
	font-weight: bold;
	text-align: center;
	font-family: "generic family", sans-serif;*/
}

.name-meal{
	margin-top: 10px;
	margin-bottom: 20px;
	height: 50px;
	border-top: 3px double grey;
	border-bottom: 3px double grey;
}

.inf-meal{
	height: auto;
}

.resources{
	height: auto;
}

.tt-total{
	height: 40px;
	background: #009900;
	color: white;
	line-height: 40px;
	text-align: center;
	font-weight: bold;
	font-size: 17px;
	font-family: "generic-family", cursive;
	border-bottom: 1px solid white;
}

.tt-total:hover{
	cursor: pointer;
	background: #00CC00;
	box-shadow: -2px 0px 5px white, 2px 0px 5px white;
}

.tt-total-01{
	background: #00CC00;
	box-shadow: -2px 0px 5px white, 2px 0px 5px white;
}

.ct-resources-01{
	height: 0;
	overflow-y: scroll;
	overflow-x: hidden;
	transition: 0.5s;
}

div.ct-resources-01::-webkit-scrollbar{
	width: 12px;
	background: #B5B5B5;
}

div.ct-resources-01::-webkit-scrollbar-thumb{
	background: #3A5FCD;
	border-radius: 10px;
	border: 1px solid #B5B5B5;
}

div.ct-resources-01::-webkit-scrollbar-thumb:hover{
	background: #27408B;
}

div.ct-resources-01::-webkit-scrollbar-button:increment,div.ct-resources-01::-webkit-scrollbar-button:decrement{
	background: #B5B5B5;
	padding-right: 2px;
	height: 12px;
}

div.ct-resources-01::-webkit-scrollbar-button:decrement{
	background-image: url(../image/arrow/up.png);
	background-position: center;
	background-size: 9px 9px;
	background-repeat: no-repeat;
}

div.ct-resources-01::-webkit-scrollbar-button:increment{
	background-image: url(../image/arrow/down.png);
	background-position: center;
	background-size: 9px 9px;
	background-repeat: no-repeat;
}

/*div.ct-resources-01::-webkit-scrollbar-button:hover{
	background: #9C9C9C;
}*/ /*để khi di chuyển trỏ vào button up/down thì chuyển sang màu đậm hơn (không cần thiết)*/

div.ct-resources-01::-webkit-scrollbar-track{
	border-radius: 10px;
	background: #E8E8E8;
}

div.ct-resources-01::webkit-scrollbar-track-piece{
	border-radius: 10px;
	background: #E8E8E8;
}

.content{
	height: 462px;
	width: 79.5%;
	background-color: white;
	margin-left: 0.5%;
	float: right;
	transition: 0.5s;
}

.most-view{
	width: 99%;
	height: 300px;
	background: #CFCFCF;
	box-shadow: 1px 1px 1px 0 #B5B5B5 inset,-1px -1px 1px 0 #B5B5B5 inset;
	margin: 0 auto;
	margin-top: 40px;
	overflow: hidden;
	position: relative;
	z-index: 0;
}

.glidle{
	width: 99%;
	height: 300px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

/*.most-view:hover .all-view{
	right: 0;
	transition: 1s;
}*/

.all-view{
	width: 100%;
	height: remainder;
	/*background: green;*/
	margin-top: 50px;
	position: absolute;
	opacity: 1;
	right: 0px;
	transition: 1s;
	z-index: 0;
}

.all-view-ds{
	width: 100%;
	height: remainder;
	/*background: green;*/
	margin-top: 50px;
	position: absolute;
	opacity: 0;
	right: -800px;
	transition: 0s;
	z-index: 0;
}

.all-view-dss{
	width: 100%;
	height: remainder;
	/*background: green;*/
	margin-top: 50px;
	position: absolute;
	opacity: 1;
	right: 800px;
	transition: 1s;
	z-index: 0;
}

.glidle > .all-view > ul , .glidle > .all-view-ds > ul, .glidle > .all-view-dss > ul{
	list-style-type: none;
	text-align: center;
}

.glidle > .all-view > ul li, .glidle > .all-view-ds > ul li, .glidle > .all-view-dss > ul li{
	display: inline-block;
	margin-right: 30px;
	margin-left: 30px;
}

.glidle > .all-view > ul li > .img-view, .glidle > .all-view-ds > ul li > .img-view, .glidle > .all-view-dss > ul li > .img-view{
	margin-top: 5px;
	display: block;
	width: 180px;
	height: 180px;
	border-radius: 180px;
	overflow: hidden;
	border: 2px solid white;
}

.glidle > .all-view > ul li > .range-view, .glidle > .all-view-ds > ul li > .range-view, .glidle > .all-view-dss > ul li > .range-view{
	display: block;
	margin-top: 10px;
	width: 180px;
	height: 30px;
	overflow: hidden;
	/*background: blue;*/
}

.glidle > .all-view > ul li > .img-view > img, .glidle > .all-view-ds > ul li > .img-view > img, .glidle > .all-view-dss > ul li > .img-view > img{
	width: 250px;
	height: 200px;
}

.img-hidden{
	border: 2px solid black;
}

/*span.name-of-meal{
	display: block;
	position: absolute;
	width: 90px;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 40px solid black;
	margin: 0 auto;
}*/



/*.cross-list{
	display: inline-block; (chọn khối và sắp xếp phần tử theo một hàng ngang)
	padding-left: 20px; (trong span dùng padding để tạo khoảng cách giữa border và phần tử trong nó)
	padding-right: 20px;
	margin-left: 10px;
	white-space: nowrap; (trong span nếu phần tử vượt quá độ dài quy định sẽ tự động xuống hàng, dùng white-space để các phần tử không xuống hàng)
	background: orange;
	color: white;
	font-weight: bold;
	margin-top: 20px;
}*/

.cross-list ul{padding: 0;}
.cross-list ul li{padding: 0;}
.cross-list ul li a{padding: 0;}

.cross-list{
	margin-top: 0px;
}

.cross-list ul li{
	list-style-type: none;
	display: inline-block;
}

.cross-list ul li a{
	display: block;
	height: 30px;
	padding: 14px 40px 0 40px;
	margin-left: 10px;
	background: orange;
	text-align: center;
	color: white;
	line-height: 20px;
	text-decoration: none;
	margin: 0 22px 0 0;
	/*background-image: 
	linear-gradient(rgba(255, 0, 0, 0.5), 
      rgba(255, 0, 0, 0.5)),
	url(../image/background/wood.png); 
	background-repeat: no-repeat;*/
	position: relative;
	transition: 0.5s;
}

.cross-list ul li a:after{
	content: "";
	width: 0;
	height: 0;
	border-top: 22px solid transparent;
	border-bottom: 22px solid transparent;
	border-left: 22px solid orange;
	position: absolute;
	right: -22px;
	top:0;
	transition: 0.5s;
}

/*.cross-list ul .list-01 a:after{
	content: "";
	width: 0;
	height: 0;
	border-top: 22px solid transparent;
	border-bottom: 22px solid transparent;
	border-left: 22px solid orange;
	position: absolute;
	right: -22px;
	top:0;
}*/

.cross-list ul li.list-01 a:before{
	content: "";
	width: 0;
	height: 0;
	border-top: 22px solid orange;
	border-bottom: 22px solid orange;
	border-left: 22px solid transparent;
	position: absolute;
	left: -22px;
	top:0;
	transition: 0.5s;
}

.clear{
	clear: both;
}

.list{
	width: 70px;
	margin-top: 162px;
	height: remainder;
	position: fixed;
	float: left;
}

.Fhead > .list > span{
	padding-left: 5px;
	padding-right: 5px;
	text-align: left;
	font-family: "Calibri";
	line-height: 50px;
	font-size: 17px;
	font-weight: bold;
	width: 70px;
	height: 50px;
	color: white;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-bottom: 5px;
}

.Fhead > .list > span:hover{
	box-shadow: 3px 3px 10px white,3px -3px 10px white,-3px 3px 10px white,-3px -3px 10px white;
	cursor: pointer;
}

.get-home{
	float: left;
	background-color: orange;
}

.get-grill{
	background-color: #A52A2A;
	float: left;
}

.get-fries{
	background-color: #B8860B;
	float: left;
}

.get-xao{
	float: left;
	background-color: #9ACD32;
}

.get-bake{
	background-color: #708090;
	float: left;
}

.get-mix{
	background-color: #32CD32;
	float: left;
}

.get-contact{
	background-color: #DC143C;
	float: left;
}

.get-click{
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.page-box{
	margin-top: 10px;
	float: left;
	width: 100px;
	height: remainder;
}

.page-current{
	background: white;
	display: block;
	width: 35px;
	height: 35px;
	margin-left: 31px;
	border-radius: 5px;
	padding-left: 2px;
	line-height: 50px;
	position: fixed;
	overflow:hidden;
	transition: 0.5s;
}

.page-current:after{
	content: "";
	display: block;
	position: absolute;
	width: 80%;
	height: 4px;
	background: orange;
	border-radius: 2px;
	margin-top: 13px;
	margin-left: 2px;
	transition: 0.5s;
}

.page-current:before{
	content: "";
	display: block;
	position: absolute;
	width: 80%;
	height: 4px;
	background: orange;
	border-radius: 2px;
	margin-top: 6px;
	margin-left: 2px;
	transition: 0.5s;
}

.page-current span:before,

.page-current span:before{
	content: "";
	display: block;
	position: absolute;
	width: 80%;
	height: 4px;
	background: orange;
	border-radius: 2px;
	margin-top: 20px;
	margin-left: 2px;
	transition: 0.5s;
}

.page-current span:after,

.page-current span:after{
	content: "";
	display: block;
	position: absolute;
	width: 0px;
	height: 0px;
	border-top: 5px solid black;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	margin-top: 27px;
	margin-left: 11px;
}

.page-current:hover{
	cursor: pointer;
	box-shadow: 1px 1px 2px white, 1px -1px 2px white, -1px 1px 2px white, -1px -1px 2px white;
}

.list-page,
.list-page ul li,
.list-page ul li a,

.list-page{
	text-align: center;
	position: relative;
	width: 95px; /*ấn định cho độ dài của ul, do position : relative nên không thuộc vùng page-box -> sẽ không chịu ảnh hưởng bởi width của page-box, không thể set % vì không phụ thuộc vào width của bất kì phần tử nào, phải set px riêng cho phần list-page này còn ul sẽ set % để giản nở tùy thuộc vào lilst-page, ở đây set ul là remainder là để tự độ co giản tùy vào kích thước độ dài ký tự có trong li*/
}

.list-page ul:before{
	content:"";
	display: block;
	width: 0;
	height: 0;
	border-bottom: 10px solid white;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	margin-left: 140px;
	transition: 0.5s;
}

.list-page ul{
	list-style-type: none;
	font-weight: bold;
	color: white;
	width: remainder;
	height: 0px;
	text-align: center;
	padding: 0;
	position: fixed;
	margin-top: 40px;
	overflow: hidden;
	transition: 0.5s;
}

.list-page ul li{
	height: 40px;
	line-height: 40px;
	width: auto;
	color: orange;
	background: white;
	margin-left: 104px;
	padding-bottom: 1px;
}

.list-page ul li a{
	text-decoration: none;
	display: block;
	background: orange;
	color: white;
	transition: 0.2s;
}

.list-page ul li a:hover{
	font-size: 24px;
}